{% extends 'home/index.html.twig' %}
{# TODO bootstrap-ize #}
{% block main %}
    <div class="-flex-container">
        <div class="-first">
            <a class="back-action" href="{{ path('home') }}" title="{{ 'action.back'|trans }}">⬅︎</a>
        </div>
        <div class="-center">
            <h1 class="title">{{ 'title.help'|trans }}</h1>
        </div>
        <div class="-last"></div>
    </div>
    <div class="-flex-container">
        <div class="-first">
        </div>
        <div class="-center" data-turbo="false" data-controller="help">

            <div class="table-of-content" data-help-target="tableOfContent"></div>

            {{ include('help/gpx_files.html.twig') }}

            <img class="path-anim" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

            {{ include('help/tiles.html.twig') }}

            <img class="path-anim odd" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

            {% include 'help/_video_section.html.twig' with {
                id: 'video_basic_usages',
                title: 'Plan your trail, basic usages'|trans,
                url_iframe: 'https://www.orion-hub.fr/videos/embed/240106bc-f163-4944-9263-2ec4d2b66acb',
                transcript: "Hello everyone,
                    today I'm going to show you TrailOdyssey.
                    It's a project I created to help myself to plan
                    my hikes.
                    We're going to see the different possible uses.
                    We're going to plan a walk on foot with
                    a GPX, you probably already know the GPX files.
                    To start, we're going to register
                    Obviously, when you arrive for the first time,
                    there is no trip.
                    We can create one, we're going
                    to give it a name, and now we're asked to import
                    a GPX or if we don't have a GPX, we can continue
                    like this but we have a GPX in this case
                    I have my trail of hikers that appears
                    From there, we're going to be able to plan
                    our hike.
                    So I zoom in I know that this summer
                    I'm starting at Morlaix.
                    So we're going to Morlaix
                    by train and so, our first step will be in
                    Morlaix.
                    So this is my departure, Morlaix
                    We'll arrive around 10am. So we're going to
                    walk for a while but we probably won't have
                    time to do 20-25km I think we're going to stop
                    here I'm going to put my second step to sleep
                    the first night. There we go, and now we see
                    that we have 13km, 13km is reasonable for a
                    first step. Maybe it's not enough, maybe we can go further
                    So I'm going to try here.
                    We see that it has
                    been updated, 19km maybe it's a bit too much,
                    but why not.
                    So there we go, that was our first step and then,
                    we're going to try to go a little further
                    I think it's not bad here 21km more, not bad
                    I'm doing quite reasonable steps, 25km a day
                    So I think it's not bad I'm going to keep going
                    I imagine that over there, it might be a bit
                    too much 23km, no, it's not bad either.
                    And we can keep going like this.
                    You get the idea.
                    It allows me to plan well
                    Then I have an overview I can see the total
                    of the kilometers here and then I see the days
                    I know it's coming on Friday 2, then I'm on
                    the 3rd, the 4th .Obviously, then we can zoom
                    in to get additional information. Here, for
                    example, I would like to know if there is a
                    campsite because I'm going to try to sleep
                    in campsites instead, so there I see that there
                    is a campsite here, it's not bad
                    I'm going to register it in my interests. There
                    you go, like that, the information stays I'll
                    have it on my map when exporting.
                    I could even tell myself that my step 2 ...
                    Step 2 here I'm going to shift it, anyway we're
                    going to say that it will stop at the campsite
                    There you go, it changes my kilometers, it's
                    not a big deal
                    What is not bad,
                    is that here I spotted a campsite, so it's
                    the wood camping of the Palud, I'm going
                    to do a search I'm sure I'll find it I register
                    it in my interests. Then I'm going to put a
                    little note, there you go, like that, I have
                    it for later. My step 3 is there and there you
                    go, that's my journey. I can even share
                    it with friends, who will obviously only see
                    the public part, with the notes I took and the
                    interests I noted. They can't edit. And that's it for today!"
            } %}

            <img class="path-anim" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

            {% include 'help/_video_section.html.twig' with {
                id: 'video_gpx_and_tiles',
                title: 'Plan your biking trail, edit GPX and add tiles on the map'|trans,
                url_iframe: 'https://www.orion-hub.fr/videos/embed/51c53abf-eec8-459b-928a-624da31d4ac6',
                transcript: "Hello everyone, I'm going to show you how to
                    use TrailOdyssey today to plan a little bike
                    ride from a GPX that we already have but that
                    we will be able to edit and also we will have
                    fun adding several layers on our map to locate
                    bike paths so I log in because last time I
                    registered here it is a new trip so I have
                    a GPX that takes this path so here we see that
                    the GPX is imported from Paris to go to Mont
                    -Saint-Michel and actually it follows a bike
                    path the way is that we will add
                    a layer to our map so by default we have a
                    layer which is OpenStreetMap but we can add
                    and I have one which is OpenCycleMap I save,
                    I go back to my map and now we see that here
                    I have OpenCycleMap which is accessible
                    and this map provides all the bike paths at
                    least in France and what I'm going to do is
                    I'm going to use it to modify my route because
                    actually here between Alençon and this city
                    I would rather go through the north and not here
                    I go to the \"Paths\" tab and here I go
                    back to my bike map and here I'm going to link
                    this so what I'm going to do is edit my segment
                    and here I have all the points that make up
                    my segment I'm going to go through the V40
                    so the GPX editing is an advanced feature so
                    I'm going to start, I'm going to take this
                    point and I'm going to cut my route to this
                    point so now if I zoom out we see that I have
                    two routes the first part and the second part
                    I continue to edit the second part the goal
                    is to cut at the level of the V40 great so
                    now I have three segments I will be able to
                    delete this one so it's not very clear on the
                    map because the links are also in red but if
                    we zoom out or at least if we go to OpenStreetMap
                    we see that I no longer have the segment here
                    so I will be able to redraw one which follows
                    the V40 obviously it can be a little long there
                    I have my segment I start here and then I can add points
                    hop hop I can do it with more or less precision
                    it depends on the time I have there for you
                    I do it a little quickly here you have understood the idea
                    Here I come to the end hop I will find
                    my main section so I'm going to stop there
                    I will put hop and here is my new segment I
                    can go back to planning
                    and we see that it passes now through the north
                    if ever I create a step we start here and we
                    go here 80 km we can push a little here we
                    can see that it will follow this new segment
                    the goal then is to combine the different possibilities
                    of TrailOdyssey segment editing itinerary planning
                    in order to achieve the result you want"
            } %}

            <img class="path-anim odd" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

            {% include 'help/_video_section.html.twig' with {
                id: 'video_search_and_share',
                title: 'Plan your trail, search interest points and share the map'|trans,
                url_iframe: 'https://www.orion-hub.fr/videos/embed/c46ba137-3356-497c-a814-a93defecf760',
                transcript: "Hello everyone, I'm going to give you a presentation
                    of TrailOdyssey.
                    Today we are going to see how to share the
                    information of a trail that we have already
                    planned with points of interest that we have
                    searched and also an advanced feature which
                    is the share of geolocated photos.
                    So if you have done a hike,
                    you can share it before your itinerary, for
                    example with the people with whom you are going
                    to leave,
                    but also after,
                    either with the same people or with members
                    of your family for example.
                    Let's go, we're going to do a new trail.
                    We are going to choose a GPX,
                    this time a small hike below Brittany.
                    So here is our file imported.
                    It's a three-day hike.
                    The start is here.
                    Here I put some steps to fill in.
                    But the goal is rather to show you how we do
                    the search of an interest point and how then we can share.
                    We went to Saint-Nazaire.
                    Hop.
                    So that's about the route we did.
                    Well, I don't think we did this step, so I'm
                    going to remove it.
                    Here.
                    One, two, three steps, it seems more correct to me.
                    So the idea is that each time we can obviously
                    put notes.
                    The notes are also found on the bubbles.
                    We can do some search of interest.
                    Sometimes what can be nice is to know if there
                    are toilets, quite simply.
                    So here I have all the toilets between my two steps.
                    Hop.
                    So here.
                    Well, I'm going to save that.
                    We never know.
                    What is not bad, I like it too, is everything
                    that is picnic.
                    For lunch.
                    It's not very far from the toilets.
                    It looks pretty good here, lots of picnic tables.
                    I'm going to put that.
                    So that gives me my two steps,
                    my two points of interest during my walk.
                    So as I told you, we can share.
                    So that's something I can send either to a
                    colleague with whom I'm going to go for a walk,
                    or to friends to tell them, here's what I'm going to do.
                    So they have the dates,
                    they have the distances,
                    they can realize a little.
                    And so here I come back to my planning.
                    But let's say I'm done with my hike.
                    What I can do is that I will be able to put
                    photos that I took along this journey.
                    I upload them.
                    And automatically they are geolocated.
                    So that can be nice to show to your grandparents
                    or family members or even your friends.
                    You can share again and have the public link.
                    And all the people who have this public link
                    can see the photos and also where they were taken.
                    The goal is not to put all the photos of your
                    trip, but only those that are notable.
                    And that makes beautiful memories."
            } %}

            <img class="path-anim" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

            {% include 'help/_video_section.html.twig' with {
                id: 'video_advanced_use_edit_gpx_update_trail',
                title: 'Plan your trail, advanced use, edit GPX and update trail'|trans,
                url_iframe: 'https://www.orion-hub.fr/videos/embed/7a993731-c894-489e-8d5a-24450414e822',
                transcript: "Today, we are going to talk about TrailOdyssey
                    with advanced uses around the GPX.
                    I create a new trip.
                    I upload a GPX that I have in my hand,
                    which corresponds to my route, or at least
                    to a good part of what I would like to do.
                    But today, we are going to modify it a bit.
                    We are going to take \"Sentier des Douaniers\",
                    the full one.
                    So, the map is loaded with the GPX,
                    the trail \"Sentier des Douaniers\" is loaded.
                    So, today, we are going to start...
                    Let's go back to Morlaix.
                    And we are going in the other direction this time.
                    So, we are going to start from Morlaix.
                    And the idea is that we are going to modify
                    our GPX so that it goes to places that we want,
                    but that are not necessarily the default path.
                    So, here, we see that there is a small detour.
                    And we are going to tell ourselves that we
                    don't have the time,
                    So, we have a step here.
                    57 km is a bit too much.
                    We are going to cut it in two.
                    There you go, it's more reasonable.
                    So, once again, it's more for the demonstration
                    than for the reality of things.
                    We want to go up to here.
                    24 km.
                    And on this day, it won't be possible to do
                    24, we already did 28 and 28.
                    We would rather go here.
                    Maybe gain 2 km.
                    So, what I'm going to do is that I'm going
                    to edit my path.
                    We may have already seen this in a previous video.
                    And we are going to create a new route. Itinerary.
                    It's going to start from here.
                    And we're going to go all the way here.
                    So, let's see. This is what we are offered.
                    It's an itinerary, so it's going to go along
                    the beach, probably following a road.
                    But once again, here we are for the example.
                    I can modify this kind of itinerary.
                    Let's say I wanted to go on land.
                    He didn't find another word here.
                    But we can shift.
                    Maybe here we will have better.
                    A little detour in the lands.
                    It's not what I want.
                    So, I'm going to stay on the itinerary he proposed
                    from the beginning.
                    And I save.
                    I go back to my planning.
                    So, now we have our old route.
                    And our GPX that goes through here.
                    And what we're going to be able to do,
                    we're going to be able to ask him to update.
                    And automatically,
                    he will take into account the new itinerary.
                    And we see that we have gained an interesting
                    number of kilometers.
                    What is also possible now is to export all of this.
                    So, here I am in the preferences and I can export.
                    In the export, I'm going to get a zip file.
                    So, a file with in it.
                    The GPX of my complete route.
                    Which will contain the points of interest,
                    the steps.
                    But also GPX cut by step.
                    It can allow in some applications on mobile
                    phones or GPS.
                    To integrate only one route, a single part
                    of this route.
                    And it works better in some of these applications.
                    Voila."
            } %}

            <img class="path-anim odd" src="{{ asset('build/images/path-anim-3.gif') }}" alt="">

        </div>
        <div class="-last"></div>
    </div>
{% endblock %}
