{% extends 'base.html.twig' %}

{% block body_attr %}style="min-height: 100vh;"{% endblock %}

{% macro block(pitch, imageSrc) %}
    <div class="d-sm-flex d-block my-sm-3">
        <div class="flex-shrink-0 w-sm-25">
            <img alt="{{ 'alt.illustrative_picture'|trans }}" src="{{ imageSrc }}" class="img-fluid">
        </div>
        <div class="flex-grow-1 ms-sm-3 mt-3 mt-sm-0">
            <div>{{ pitch }}</div>
        </div>
    </div>
{% endmacro %}

{% block body %}
    {# https://getbootstrap.com/docs/5.3/layout/containers/#how-they-work #}
    <div class="container-md bg-body container-body position-relative" style="max-width: 992px; min-height: 100vh;">
        <div class="mx-3">
            <turbo-frame data-turbo-action="replace" id="main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col-12 p-3">
                                <div class="alert alert-{{ label }}">
                                    {{ message|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block main %}
                    <div class="row" data-turbo="false">
                        <div class="row">
                            <h1 class="col-12 fs-4 mt-3"><img style="width: 10rem;" src="{{ asset('build/images/logo.png') }}" alt="{{ project_name }}"></h1>
                            <div class="col-12 mb-3" style="position: relative; top: -5px;">{{ 'pitch.description'|trans }}</div>
                            <div class="d-flex justify-content-around align-items-start mt-4 mb-5">
                                <a class="btn btn-primary" href="{{ path('trip_index') }}">{{ 'action.log_in'|trans }}</a>
                                {% if instance_open %}
                                    <a class="btn btn-primary" href="{{ path('register') }}">{{ 'action.sign_up'|trans }}</a>
                                {% else %}
                                    <a class="btn btn-secondary" href="javascript:alert('{{ 'info.registration_closed'|trans }}')"
                                       title="{{ 'info.registration_closed'|trans }}"
                                    >{{ 'action.sign_up'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% set pitch %}
                                <p>{{ 'pitch.pitch_01_01'|trans }}</p>
                                <p>{{ 'pitch.pitch_01_02'|trans({'project_name': project_name}) }}</p>
                            {% endset %}
                            {{ _self.block(pitch, asset('build/images/photos/photo-00004.jpg')) }}
                        </div>
                        <div class="row">
                            {% set pitch %}
                                <p>{{ 'pitch.pitch_02_01'|trans }}</p>
                                <p>{{ 'pitch.pitch_02_02'|trans }}</p>
                            {% endset %}
                            {{ _self.block(pitch, asset('build/images/photos/photo-00007.jpg')) }}
                        </div>
                        <div class="row">
                            {% set pitch %}
                                <p>{{ 'pitch.pitch_hello_01'|trans({'project_name': project_name}) }}</p>
                                <p>{{ 'pitch.pitch_hello_02'|trans }}</p>
                            {% endset %}
                            {{ _self.block(pitch, asset('build/images/photos/photo-00006.jpg')) }}
                        </div>
                        <div class="row">
                            {% set pitch %}
                                <p>{{ 'pitch.pitch_03_01'|trans({'project_name': project_name}) }}</p>
                                <p>{{ 'pitch.pitch_03_02'|trans({'project_name': project_name}) }}</p>
                            {% endset %}
                            {{ _self.block(pitch, asset('build/images/photos/photo-00008.jpg')) }}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>{{ 'pitch.pitch_cta_01'|trans }}</p>
                                <p>{{ 'pitch.pitch_cta_02'|trans({'project_name': project_name}) }}</p>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                <div class="row"><div class="my-3">&nbsp;{# spacer for footer #}</div></div>
                <footer class="row position-absolute" style="bottom: 1rem;">
                    <div class="col-12 fs-small">
                        Powered by: {{ project_name }}
                        {% if not is_granted('ROLE_USER') %}
                            | <a href="{{ path('login') }}">{{ 'action.log_in'|trans }}</a>
                            {% if instance_open %}
                                | <a href="{{ path('register') }}">{{ 'action.sign_up'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </footer>
            </turbo-frame>
        </div>
    </div>
{% endblock %}
