<div class="card-header">
    <div class="input-group">
        {% if form.symbol is defined %}
            {{ form_widget(form.symbol, { attr: { style: 'width: 3rem; flex: 0 1 auto;' }}) }}
        {% endif %}
        {{ form_widget(form.name) }}
    </div>
</div>
<div class="card-body">
    <div>
        {{ form_widget(form.description) }}
        {{ form_errors(form.name) }}
        {{ form_errors(form.description) }}
        {{ form_errors(form.arrivingAt) }}
        {{ form_errors(form) }}
    </div>
    <div>
        <label class="fs-small mt-3">{{ 'mappable.arriving_at'|trans({date: ''}) }}</label>
        {{ form_widget(form.arrivingAt) }}
        <script>
            var arrivingAtInput = document.getElementById('{{ form.arrivingAt.vars.id }}');
            var arrivingAtHasChanged = false;
            arrivingAtInput.addEventListener('change', () => arrivingAtHasChanged = true);
            var form = arrivingAtInput.form;
            form.addEventListener('submit', () => {
                if (!arrivingAtHasChanged) return;
                form.dataset.turboFrame = 'sidebar-{{ object_name_plural }}';
            });
        </script>

    </div>
</div>
<div class="card-body">
    <button class="btn btn-primary" data-role="submit">{{ 'action.save'|trans }}</button>
    <a class="btn btn-outline-secondary" data-role="cancel" href="{{ path(object_name ~ '_show', { trip: trip.id }) }}">cancel</a>
</div>

<div class="d-none">
    {{ form_widget(form.point.lon) }}
    {{ form_widget(form.point.lat) }}
</div>
