{% set controller = controller|default('plan') %}
{% set dataClickAction =
    'data-action="click->' ~ controller ~ '#' ~ object_name ~ 'ClickAction" ' ~
    'data-' ~ controller ~ '-id-param="' ~ mappable.id ~ '" '
%}
{% set extraClass = object_name == 'stage' and loop is defined and not loop.last ? 'mb-0 border-bottom-0 rounded-bottom-0' %}
{% set interestWithoutDescription = object_name == 'interest' and not mappable.description %}
<div class="card object-type-{{ mappable.type|default('none') }} m-3 {{ extraClass }}">
    <div class="card-header {{ interestWithoutDescription ? 'border-bottom-0' }}">
        <div class="d-flex justify-content-between align-items-center">
            <span class="pe-2" {{ dataClickAction|raw }}>{{ mappable.symbol }}</span>
            <span class="flex-grow-1" {{ dataClickAction|raw }}>
                <span>{{ mappable.nameWithPointName }}</span>
                {% if mappable.extra %}
                    <span>(+{{ mappable.extra.distance|to_km }}&nbsp;km)</span>
                {% endif %}
            </span>
            <a class="icon-link link-secondary js-edit-action"
               href="{{ path(object_name ~ '_edit', { trip: trip.id, id: mappable.id}) }}">
                {{ include('common/_icon.html.twig', { icon_name: 'pencil-square', icon_title: 'action.edit.label'|trans }) }}
            </a>
        </div>
    </div>
    {% if object_name == 'interest' %}
        {% if mappable.description %}
            <div class="card-body pb-0">
                <div id="mappableDescription{{ mappable.id }}">
                    <div class="markdown-container clearfix">
                        {{ mappable.description|markdown_to_html }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="card-body pb-0">
            {% if object_name == 'diaryEntry' and mappable.arrivingAt is defined %}
                <div class="fs-small pb-2" {{ dataClickAction|raw }}>
                    {{ mappable.arrivingAt|format_datetime_app }}
                </div>
            {% endif %}
            {% if object_name == 'stage' and mappable.arrivingAt is defined and loop is defined and not loop.last %}
                <div class="fs-small pb-2">
                    {{ 'mappable.arriving_at'|trans({
                        date: mappable.arrivingAt|format_date(timezone = 'UTC')
                    }) }}
                </div>
            {% endif %}
            {% if mappable.description %}
                <div id="mappableDescription{{ mappable.id }}">
                    <div class="markdown-container clearfix">
                        {{ mappable.description|markdown_to_html }}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
