{% extends 'base.html.twig' %}

{% block title %}{{ trip.name }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer data-turbo-track="reload"
            src="{{ path('diaryEntry_show_js', { trip: trip.id, firstLoad: 1 }) }}">
    </script>
{% endblock %}

{% block body %}
    <div data-controller="sidebar map-common diary"

         data-map-common-options-value="{{ options|e('html_attr') }}"
         data-map-common-tiles-value="{{ tiles|e('html_attr') }}"
         data-map-common-urls-value="{{ urls|e('html_attr') }}"
         data-map-common-cache-name-value="{{ offline_cache_name }}"

         data-diary-urls-value="{{ urls|e('html_attr') }}"

         data-sidebar-urls-value="{{ urls|e('html_attr') }}"
    >
        <div class="map-button-container">
            <a class="map-button switch-trip with-box-shadow-radius mobile-only hide"
               data-sidebar-target="switchToSidebar"
               data-action="click->sidebar#switchToSidebarAction:prevent"
               title="{{ 'action.show_trip_information.title'|trans }}"
            >≣</a>
            <a class="map-button toggle-visibility with-box-shadow-radius hide-mobile"
               data-sidebar-target="toggleVisibility"
               data-action="click->sidebar#toggleVisibilityAction:prevent"
               title="{{ 'action.toggle_visibility.title'|trans }}"
            >👁️</a>
            <a class="map-button my-live-position with-box-shadow-radius hide-mobile"
               data-sidebar-target="myLivePosition"
               data-diary-target="myLivePosition"
               data-action="click->diary#myLivePositionAction:prevent"
               title="{{ 'action.my_live_position.title'|trans }}"
            >🔵</a>
        </div>
        <div class="map" id="map" data-map-common-target="map"></div>
        <div class="container-fluid bg-white sidebar" data-sidebar-target="sidebar">
            <div class="map-button-container map-button-container-sticky">
                <a class="map-button switch-map mobile-only"
                   data-sidebar-target="switchToMap"
                   data-action="click->sidebar#switchToMapAction:prevent"
                   title="{{ 'action.show_map.title'|trans }}"
                >🌍</a>
            </div>
            <div class="row px-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-start my-3 flex-column">
                        {{ include('common/_trip_title.html.twig') }}
                        {{ include('common/_trip_buttons.html.twig', { with_back: true }) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div>{{ trip.description }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <turbo-frame id="sidebar-diaryEntries">
                    <div class="col-12">
                        {% for diaryEntry in diaryEntries %}
                            {{ include('diaryEntry/show_frame.html.twig') }}
                        {% else %}
                            <div class="my-3 px-3">
                                <hr class="mb-3">
                                {{ 'info.no_diary_found_create_one_to_start'|trans|raw }}
                                <hr class="mb-3">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 sticky-bottom-sidebar">
                        <turbo-frame id="diaryEntry-new">
                            <div class="d-flex justify-content-around align-items-stretch p-3 gap-3">
                                <a class="btn btn-outline-primary btn-block"
                                   data-action="click->map-common#newPinAction"
                                   data-map-common-type-param="diaryEntry"
                                   data-map-common-on-param="{{ 'action.add_a_new_diary_entry_on_the_map'|trans }}"
                                   data-map-common-off-param="{{ 'action.click_map_to_add'|trans }}<br><small>{{ 'action.or_here_to_cancel'|trans }}</small>"
                                >
                                    {{ 'action.add_a_new_diary_entry_on_the_map'|trans }}
                                </a>
                                <a class="btn btn-outline-primary btn-block"
                                   href="{{ path('geo_search', { trip: trip.id, type: 'diaryEntry' }) }}"
                                >
                                    {{ 'action.search_to_create_a_new_diary'|trans }}
                                </a>
                                <a class="btn btn-outline-primary btn-block"
                                   data-action="click->diary#newPhotoAction"
                                >
                                    {{ 'action.upload_a_photo'|trans }}
                                </a>
                            </div>
                        </turbo-frame>
                    </div>
                    {{ include('common/_save_map_option_form.html.twig') }}
                    <script>
                        {{ include('diaryEntry/index.js.twig') }}
                    </script>
                </turbo-frame>
            </div>
            <div id="sidebar-bottom-end">&nbsp;</div>
        </div>
    </div>
{% endblock %}
