<turbo-frame id="segment_{{ segment.id }}">
    <div class="card m-3">
        <div class="card-body">
            {{ form_start(form) }}
            {{ include('segment/_form.html.twig') }}
            {{ form_end(form) }}
        </div>
        <div class="card-body">
            <a class="btn btn-primary" href="#"
               data-action="click->segment#pointForSegmentStartStopAction:prevent">
                {{ 'action.add_points'|trans }}
            </a>
        </div>
        <script>
    if (typeof segmentController !== 'undefined') {
      segmentController.editSegment({{segment.id }}, {{ segment.points|json_encode|raw }});
    }
    </script>
        <div class="card-body">
            <form method="post"
                  action="{{ path('segment_delete', { trip: trip.id, id: segment.id }) }}"
                  data-turbo-frame="sidebar-segments"
                  onsubmit="return confirm(`{{ 'confirm.are_you_sure_delete'|trans }}`);">
                <button class="btn btn-outline-danger">{{ 'action.delete'|trans }}</button>
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ segment.id) }}">
            </form>
        </div>
    </div>
</turbo-frame>
