{% extends 'home/index.html.twig' %}

{% block main %}
    <div class="row">
        {{ include('common/_header_page.html.twig', {
            header_title: 'title.new_trip'|trans,
            header_back_title: 'action.cancel.title'|trans,
            header_back_href: path('trip_index'),
        }) }}
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <button class="btn btn-primary">{{ 'action.create'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
