{% if not loop.first %}
    <span class="popup-arriving-at">
        ➔&nbsp;{{ stage.arrivingAt|format_date(timezone = 'UTC') }}
    </span>
{% endif %}
<span class="popup-name">
<span>{{ stage.symbol }}&nbsp;|&nbsp;</span>
<span>{{ stage.nameWithPointName }}</span></span>
{% if stage.extra %}
    <span class="popup-extra-distance"> (+{{ stage.extra.distance|to_km }}&nbsp;km)</span>
{% endif %}
<div class="markdown-container">{{ stage.description|default|markdown_to_html }}</div>
