<div class="btn-group btn-group-sm" role="group">
    <a class="btn btn-{{ app.current_route != 'segment_show' ? 'outline-' }}primary" data-turbo-frame="_top"
       href="{{ path('segment_show', { trip: trip.id }) }}">
        {{ 'action.map.path'|trans }}
    </a>
    <a class="btn btn-{{ app.current_route != 'stage_show' ? 'outline-' }}primary" data-turbo-frame="_top"
       href="{{ path('stage_show', { trip: trip.id }) }}">
        {{ 'action.map.plan'|trans }}
    </a>
    <a class="btn btn-{{ app.current_route != 'diaryEntry_show' ? 'outline-' }}primary" data-turbo-frame="_top"
       href="{{ path('diaryEntry_show', { trip: trip.id }) }}">
        {{ 'action.map.diary'|trans }}
    </a>
    <a class="btn btn-{{ app.current_route != 'bag_index' ? 'outline-' }}primary"
       href="{{ path('bag_index', { trip: trip.id }) }}">
        {{ 'action.map.bags'|trans }}
    </a>
    <a class="btn btn-{{ app.current_route != 'trip_edit' ? 'outline-' }}primary" data-turbo-frame="_top"
       href="{{ path('trip_edit', { trip: trip.id }) }}">
        {{ 'action.map.edit'|trans }}
    </a>
</div>
