{% extends 'home/index.html.twig' %}

{% block main %}
    <div class="row clearfix">
        {{ include('common/_header_page.html.twig', {
            header_title: 'title.your_gears'|trans,
            header_back_title: 'action.back'|trans,
            header_back_href: path('gear_index'),
        }) }}
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.weight) }}
            <button class="btn btn-primary">{{ 'action.edit.title'|trans }}</button>
            {{ form_end(form) }}
        </div>
        <div class="col-12">
            <form method="post"
                  class=""
                  action="{{ path('gear_delete', { id: gear.id }) }}">
                <button class="btn btn-outline-danger">{{ 'action.delete'|trans }}</button>
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gear.id) }}">
            </form>
        </div>
    </div>
{% endblock %}
