<turbo-frame id="{{ type }}-new">
    {{ form_start(form) }}
    <div class="p-3 clearfix">
        <label for="{{ form.address.vars.id }}">{{ 'label.search_for_an_address'|trans }}</label>
        <div class="input-group mb-3">
            {{ form_widget(form.address) }}
            <button class="btn btn-primary">{{ 'action.search.label'|trans }}</button>
        </div>
        <a class="btn btn-outline-secondary float-end"
           href="{{ path(type ~ '_show', { trip: trip.id }) }}"
        >cancel</a>
    </div>
    {{ form_end(form) }}
</turbo-frame>
