{% extends 'home/index.html.twig' %}

{% block main %}
    <div class="row">
        {{ include('common/_header_page.html.twig', {
            header_title: 'title.user_trails'|trans({'user': user.nickname})|capitalize,
        }) }}
    </div>
    {% for trip in trips %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body clearfix">
                        <h5 class="card-title">{{ trip.name }}
                            {% apply spaceless %}
                                {% if trip.firstStage %}
                                    <small><br>{{ trip.firstStage.arrivingAt|date('F Y') }}
                                        {% if trip.firstStage.arrivingAt|date('mY') != trip.lastStage.arrivingAt|date('mY') %}
                                        - {{ trip.lastStage.arrivingAt|date('F Y') }}
                                        {% endif %} - {{ trip.distance|to_km }}&nbsp;km</small>
                                {% endif %}
                            {% endapply %}
                        </h5>
                        <p class="card-text">{{ trip.description }}</p>
                        <div class="d-flex overflow-x-auto">
                            {%- for picture in trip.pictures -%}
                                <img src="{{ picture }}" alt=""
                                     class="d-inline-block me-2 mb-2 rounded-2 border"
                                >
                            {%- endfor -%}
                        </div>
                        <div class="mt-1 mb-3">
                            <a href="{{ path('short_show', { user: user.nickname, trip: trip.shareKey }) }}"
                               class="btn btn-primary"
                               data-turbo="false"
                            >
                                {{ 'action.explore'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                {{ 'info.no_trip_found'|trans|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
