{% extends 'base.html.twig' %}

{% block title %}{{ trip.name }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer data-turbo-track="reload"
            src="{{ path('live_show_js', { trip: trip.id, firstLoad: 1 }) }}">
    </script>
{% endblock %}

{% block body %}
    <div data-controller="sidebar map-common live"

         data-map-common-options-value="{{ options|e('html_attr') }}"
         data-map-common-tiles-value="{{ tiles|e('html_attr') }}"
         data-map-common-cache-name-value="{{ offline_cache_name }}"
         data-map-common-is-live-value="true"
    >
        <div class="map-button-container">
            <div class="map-button map-search with-box-shadow-radius"
                 data-sidebar-target="searchContainer"
                 title="{{ 'action.search.title'|trans }}"
            >
                <turbo-frame id="geo-elements" src="{{ path('geo_elements', { trip: trip.id }) }}">
                    🔍
                </turbo-frame>
            </div>
            <a data-sidebar-target="toggleVisibility"
               data-action="dblclick->live#centerMapAction:prevent click->sidebar#toggleVisibilityAction:prevent"
               class="map-button toggle-visibility with-box-shadow-radius"
               title="{{ 'action.toggle_visibility.title'|trans }}"
            >👁️</a>
            <a data-sidebar-target="myLivePosition"
               data-live-target="myLivePosition"
               data-action="click->live#myLivePositionAction:prevent"
               class="map-button my-live-position with-box-shadow-radius"
               title="{{ 'action.my_live_position.title'|trans }}"
            >💬</a>
            {# This button is going to be moved in Javascript #}
            <a class="hide live-back-button leaflet-control-zoom-out"
               data-live-target="backButton"
               href="{{ path('trip_index') }}"
               data-turbo-frame="_top"
               title="{{ 'action.back'|trans }}"
            ><span style="position: relative;top: -2px;left: -1px;">◀︎</span>︎</a>
        </div>
        <div class="map live-map" id="map" data-map-common-target="map"></div>
        <div class="container-fluid diary-entry-new-container position-absolute h-100 d-none"
             data-live-target="diaryEntryNewContainer"
             style="z-index: 1000; background: rgba(0,0,0,0.3);"
             {# It is important that no space is left between the next two HTML tags #}
        ><turbo-frame id="diaryEntry-new"></turbo-frame></div>
        <div class="container-fluid live-bar" data-live-target="liveBar">
            <div class="card" style="height: calc(100% - 12px);">
                <turbo-frame id="live-stage">
                    {% set currentRouting = stage.routingOut %}
                    {% if currentRouting %}
                    <div class="d-flex flex-column justify-content-center align-items-stretch"
                         style="height: 100%;"
                         data-live-target="liveBarContent"
                    >
                        <div class="" data-live-target="liveBarSelect">
                            <select class="form-select"
                                    style="border: none;"
                                    data-action="change->live#routingChangedAction">
                                {% for routing in routings %}
                                    <option value="{{ routing.startStage.id }}"
                                            {{ routing.id == currentRouting.id ? 'selected' }}
                                    >
                                        [&nbsp;{{ routing.startStage.symbol }}&nbsp;]
                                        {{ routing.startStage.nameWithPointName }} →
                                        [&nbsp;{{ routing.finishStage.symbol }}&nbsp;]
                                        {{ routing.finishStage.nameWithPointName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex-grow-1" data-live-target="liveBarGraph">
                            <div class="live-graph">
                                <div id="stage-elevation-{{ currentRouting.startStage.id }}"></div>
                            </div>
                            <script>
                                {{ stimulus_js_load_start('mapCommonController') }}
                                mapCommonController.addElevation({{ currentRouting.startStage.id }}, false);
                                liveController.setActiveStage({{ currentRouting.startStage.id }});
                                liveController.startLiveTracking();
                                {{ stimulus_js_load_end() }}

                                function liveShowJsReady() {
                                    mapCommonController.addElevation({{ currentRouting.startStage.id }}, false);
                                    liveController.setActiveStage({{ currentRouting.startStage.id }});
                                    liveController.startLiveTracking();
                                }
                            </script>
                        </div>
                        <div class="d-grid mx-2" data-live-target="liveBarButton">
                            <button class="btn btn-xs btn-outline-success"
                                    data-action="click->live#collapseAction"
                            >
                                {{ currentRouting.distance|to_km }}&nbsp;km
                                {{ 'routing.elevation'|trans }}
                                +{{ currentRouting.elevationPositive }}m&nbsp;/&nbsp;
                                -{{ currentRouting.elevationNegative }}m
                                — {{ 'routing.progress'|trans }} <span data-live-target="progressText">...</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
